/********************************************
 * Imports
 ********************************************/
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

/******************************************************
* Colores
******************************************************/
@blanco: #ffffff;
@negro: #000000;
@naranja: #fd7500;
@naranja-amarronado: #f99418;
@crema-pastel: #f0e7b2;
@granito-pastel: #d4dfc4;
@celeste-suave-pastel: #9fd7db;

/********************************************
 * Clases
 ********************************************/
.img-clicked {
  padding: 0px;
  border: 5px solid #2b669a;
}

.cursorPointer {
  cursor: pointer;
}

.menu-background {
  background-color: #00A0B0;
}

*:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

/*.menu-fixed {
  position:fixed;
  z-index:1000;
  top:0;
  width:100%;
  box-shadow:0px 4px 3px rgba(0,0,0,.5);
}*/

/********************************************
 * Estilos del sitio
 ********************************************/
* {
  font-family: Raleway,sans-serif;
}
body {
  .container-backend {
    #content {
      min-height: 45.4rem;
      #main_content {
        .card {
          .tt-users:before {
            content: '\f0c0';
            font-family: 'FontAwesome';
            margin-right: 5px;
          }
          .tt-cottages:before {
            content: '\f015';
            font-family: 'FontAwesome';
            margin-right: 5px;
          }
        }
        .card {
          .selectize-input {
            line-height: inherit;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
          }
          .help-info {
            .help-icon {
              position: relative;
              float: right;
              top: -5px;
              left: 7px;
              z-index: 10;
            }
          }
        }
      }
      #optional_content{
        .card {
          .tt-actual-images{
            span {
              text-decoration: underline;
            }
          }
          .cottage-images {
            div {
              img {
                margin-bottom: 15px;
              }
            }
          }
        }
      }
      #lateral_menu {
        // https://webdesign.tutsplus.com/tutorials/orman-clarks-vertical-navigation-menu-the-css3-version--webdesign-5944
        a {
          text-decoration: none;
        }
        ul,
        ul ul {
          margin: 0;
          padding: 0;
          list-style: none;
        }
        #wrapper {
          width: auto;
          margin: 20px auto;
          font-size: 20px;
        }
        .menu {
          width: auto;
          height: auto;
          -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
          -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
          box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
        }
        .menu > li > a {
          background-color: #A0522D;
          border-bottom: 1px solid #33373d;
          -webkit-box-shadow: inset 0px 1px 0px 0px #878e98;
          -moz-box-shadow: inset 0px 1px 0px 0px #878e98;
          box-shadow: inset 0px 1px 0px 0px #878e98;
          width: 100%;
          height: 3rem;
          line-height: 3rem;
          text-indent: 1rem;
          display: block;
          position: relative;
          font-weight: 600;
          color: #fff;
          text-shadow: 0px 1px 0px rgba(0,0,0,.5);
          word-wrap: break-word;
        }
        .menu ul li a {
          background: #fff;
          border-bottom: 1px solid #efeff0;
          width: 100%;
          height: 3rem;
          min-height: 3rem;
          line-height: 3rem;
          text-indent: 2.5rem;
          display: block;
          position: relative;
          font-size: 1rem;
          font-weight: 400;
          color: #878d95;
          word-wrap: break-word;
        }
        .menu ul li:last-child a {
          border-bottom: 1px solid #33373d;
        }
        .menu > li > a:hover,
        .menu > li > a.active {
          background-color: #CD853F;
          border-bottom: 1px solid #103c56;
          -webkit-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
          -moz-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
          box-shadow: inset 0px 1px 0px 0px #6ad2ef;
        }
        .menu > li > a.active {
          border-bottom: 1px solid #1a638f;
        }
        .menu > li > a.panel-dash:before {
          content: '\f0e4';
          font-family: 'FontAwesome';
          margin-right: 5px;
        }
        .menu > li > a.frontend:before {
          content: '\f108';
          font-family: 'FontAwesome';
          margin-right: 5px;
        }
        .menu > li > a.cottage:before {
          content: '\f015';
          font-family: 'FontAwesome';
          margin-right: 5px;
        }
        .menu > li > a.promotion:before {
          content: '\f06b';
          font-family: 'FontAwesome';
          margin-right: 5px;
        }
        .menu > li > a.claims:before {
          content: '\f071';
          font-family: 'FontAwesome';
          margin-right: 5px;
        }
        .menu > li > a.users:before {
          content: '\f0c0';
          font-family: 'FontAwesome';
          margin-right: 5px;
        }
        // Si lo reemplazamos por los badges de bootstrap se puede eliminar.
        .menu > li > a span {
          font-size: 0.757rem;
          display: inline-block;
          position: absolute;
          right: 1rem;
          top: 50%;
          background: #FFEFD5;
          line-height: 1rem;
          height: auto;
          padding: .4rem .6rem;
          margin: -.8rem 0 0 0;
          color: #878d95;
          text-indent: 0;
          text-align: center;
          -webkit-border-radius: .769em;
          -moz-border-radius: .769em;
          border-radius: .769em;
          -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
          -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
          box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
          text-shadow: 0px 1px 0px rgba(0,0,0,.5);
          font-weight: 500;
        }
        .menu > li > a:hover span, .menu > li a.active span {
          background: #FFEFD5;
        }

        // Step 8: Sub Menu Numbers and Arrow
        .menu ul > li > a span {
          font-size: 0.757em;
          display: inline-block;
          position: absolute;
          right: 1em;
          top: 50%;
          background: #fff;
          border: 1px solid #d0d0d3;
          line-height: 1em;
          height: auto;
          padding: .4em .7em;
          margin: -.9em 0 0 0;
          color: #878d95;
          text-indent: 0;
          text-align: center;
          -webkit-border-radius: .769em;
          -moz-border-radius: .769em;
          border-radius: .769em;
          text-shadow: 0px 0px 0px rgba(255,255,255,.01);
        }
        .menu > li > ul li a:before {
          content: '▶';
          font-size: 8px;
          color: #bcbcbf;
          position: absolute;
          width: 1em;
          height: 1em;
          top: 0;
          left: -2.7em;
        }

        .menu > li > ul li:hover a,
        .menu > li > ul li:hover a span,
        .menu > li > ul li:hover a:before {
          color: #32373D;
        }
      }
    }
    #footer {
      #footer_rights {
        background-color: lighten(@negro, 48%);
        color: @granito-pastel;
        padding: 15px 0px;
      }
    }
  }
}