@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

* {
  font-family: Raleway,sans-serif;
}
body {
  background-color: #FFEFD5;
  background-image: url('../../images/cabanas2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .container-fluid {
    #header {
      nav {
        border-radius: 0px;
        margin-bottom: 0px;
      }
    }
    #content {
      #main_menu {
        .tt-menu {
          display: inline-block;
          text-align: center;
          border-bottom: dotted;
          font-size: 300%;
          font-weight: bold;
          text-shadow: #000000 2px 2px 3px;
          color: #ffffff;
        }

        // https://webdesign.tutsplus.com/tutorials/orman-clarks-vertical-navigation-menu-the-css3-version--webdesign-5944
        a {
          text-decoration: none;
        }
        ul,
        ul ul {
          margin: 0;
          padding: 0;
          list-style: none;
        }
        #wrapper {
          width: auto;
          margin: 20px auto;
          font-size: 20px;
        }
        .menu {
          width: auto;
          height: auto;
          -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
          -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
          box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
        }
        .menu > li > a {
          background-color: #A0522D;
          border-bottom: 1px solid #33373d;
          -webkit-box-shadow: inset 0px 1px 0px 0px #878e98;
          -moz-box-shadow: inset 0px 1px 0px 0px #878e98;
          box-shadow: inset 0px 1px 0px 0px #878e98;
          width: 100%;
          height: 2.75em;
          line-height: 2.75em;
          text-indent: 2.75em;
          display: block;
          position: relative;
          font-weight: 600;
          color: #fff;
          text-shadow: 0px 1px 0px rgba(0,0,0,.5);
        }
        .menu ul li a {
          background: #fff;
          border-bottom: 1px solid #efeff0;
          width: 100%;
          height: 2.75em;
          line-height: 2.75em;
          text-indent: 2.75em;
          display: block;
          position: relative;
          font-size: 0.923em;
          font-weight: 400;
          color: #878d95;
        }
        .menu ul li:last-child a {
          border-bottom: 1px solid #33373d;
        }
        .menu > li > a:hover,
        .menu > li > a.active {
          background-color: #CD853F;
          border-bottom: 1px solid #103c56;
          -webkit-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
          -moz-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
          box-shadow: inset 0px 1px 0px 0px #6ad2ef;
        }
        .menu > li > a.active {
          border-bottom: 1px solid #1a638f;
        }
        .menu > li > a.cottage:before {
          content: '\f015';
          font-family: 'FontAwesome';
          margin-right: 5px;
        }
        .menu > li > a.users:before {
          content: '\f0c0';
          font-family: 'FontAwesome';
          margin-right: 5px;
        }
        // Si lo reemplazamos por los badges de bootstrap se puede eliminar.
        .menu > li > a span {
          font-size: 0.757em;
          display: inline-block;
          position: absolute;
          right: 1em;
          top: 50%;
          background: #FFEFD5;
          line-height: 1em;
          height: auto;
          padding: .4em .6em;
          margin: -.8em 0 0 0;
          color: #878d95;
          text-indent: 0;
          text-align: center;
          -webkit-border-radius: .769em;
          -moz-border-radius: .769em;
          border-radius: .769em;
          -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
          -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
          box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15);
          text-shadow: 0px 1px 0px rgba(0,0,0,.5);
          font-weight: 500;
        }
        .menu > li > a:hover span, .menu > li a.active span {
          background: #FFEFD5;
        }

        // Step 8: Sub Menu Numbers and Arrow
        .menu ul > li > a span {
          font-size: 0.757em;
          display: inline-block;
          position: absolute;
          right: 1em;
          top: 50%;
          background: #fff;
          border: 1px solid #d0d0d3;
          line-height: 1em;
          height: auto;
          padding: .4em .7em;
          margin: -.9em 0 0 0;
          color: #878d95;
          text-indent: 0;
          text-align: center;
          -webkit-border-radius: .769em;
          -moz-border-radius: .769em;
          border-radius: .769em;
          text-shadow: 0px 0px 0px rgba(255,255,255,.01);
        }
        .menu > li > ul li a:before {
          content: '▶';
          font-size: 8px;
          color: #bcbcbf;
          position: absolute;
          width: 1em;
          height: 1em;
          top: 0;
          left: -2.7em;
        }

        .menu > li > ul li:hover a,
        .menu > li > ul li:hover a span,
        .menu > li > ul li:hover a:before {
          color: #32373D;
        }
      }
      #main_content {
        .panel {
          margin-top: 10%;

          .tt-users-list{
            margin-left: 10px;
          }
          .table-responsive {
            margin: 7px 10px;
          }
        }
        .form-panel {
          border: 2px dashed #808080;

          .panel-heading {
            background-image: none;
            background-color: #A0522D;
            color: #ffffff;
            border-bottom: 2px dashed #ffffff;

            h3.tt-cottage-create:before {
              content: '\f015';
              font-family: 'FontAwesome';
              margin-right: 5px;
            }
          }

          .help-info {
            display: block;

            .help-icon {
              position: relative;
              float: right;
              top: -5px;
              left: 7px;
              z-index: 10;
            }
          }
        }
      }
    }
  }
}