body {
  background-color: #ffffff;

  .container-fluid {
    min-height: 985px;
    background-image: url('../../images/cabanias/cabanas17.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
  }
}