@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);/********************************************
 * Imports
 ********************************************/
/******************************************************
* Colores
******************************************************/
/********************************************
 * Clases
 ********************************************/
.img-clicked {
  padding: 0px;
  border: 5px solid #2b669a;
}
.cursorPointer {
  cursor: pointer;
}
.menu-background {
  background-color: #00A0B0;
}
/*.menu-fixed {
  position:fixed;
  z-index:1000;
  top:0;
  width:100%;
  box-shadow:0px 4px 3px rgba(0,0,0,.5);
}*/
/********************************************
 * Estilos del sitio
 ********************************************/
* {
  font-family: Raleway, sans-serif;
}
body .container-backend #content {
  height: 980px;
  min-height: 980px;
  max-height: 100%;
}
body .container-backend #content #main_content .panel {
  margin-top: 10%;
}
body .container-backend #content #main_content .panel .tt-users,
body .container-backend #content #main_content .panel .tt-cottages {
  margin-left: 10px;
}
body .container-backend #content #main_content .panel .tt-users:before {
  content: '\F0C0';
  font-family: 'FontAwesome';
  margin-right: 5px;
}
body .container-backend #content #main_content .panel .tt-cottages:before {
  content: '\F015';
  font-family: 'FontAwesome';
  margin-right: 5px;
}
body .container-backend #content #main_content .panel .table-responsive {
  margin: 7px 10px;
}
body .container-backend #content #main_content .panel .table-responsive table tbody tr td {
  text-transform: capitalize;
}
body .container-backend #content #main_content .panel .table-responsive table tbody tr td.email-lower {
  text-transform: none;
}
body .container-backend #content #main_content .panel.form-panel {
  border: 2px dashed #808080;
}
body .container-backend #content #main_content .panel.form-panel .panel-heading {
  background-image: none;
  background-color: #A0522D;
  color: #ffffff;
  border-bottom: 2px dashed #ffffff;
}
body .container-backend #content #main_content .panel.form-panel .panel-heading h3.tt-cottages:before {
  content: '\F015';
  font-family: 'FontAwesome';
  margin-right: 5px;
}
body .container-backend #content #main_content .panel.form-panel .help-info {
  display: block;
}
body .container-backend #content #main_content .panel.form-panel .help-info .help-icon {
  position: relative;
  float: right;
  top: -5px;
  left: 7px;
  z-index: 10;
}
body .container-backend #content #optional_content .panel {
  margin-top: 10%;
}
body .container-backend #content #optional_content .panel .tt-actual-images span {
  text-decoration: underline;
}
body .container-backend #content #optional_content .panel .cottage-images div img {
  margin-bottom: 15px;
}
body .container-backend #content #lateral_menu a {
  text-decoration: none;
}
body .container-backend #content #lateral_menu ul,
body .container-backend #content #lateral_menu ul ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body .container-backend #content #lateral_menu #wrapper {
  width: auto;
  margin: 20px auto;
  font-size: 20px;
}
body .container-backend #content #lateral_menu .menu {
  width: auto;
  height: auto;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.73), 0px 0px 18px 0px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.73), 0px 0px 18px 0px rgba(0, 0, 0, 0.13);
}
body .container-backend #content #lateral_menu .menu > li > a {
  background-color: #A0522D;
  border-bottom: 1px solid #33373d;
  -webkit-box-shadow: inset 0px 1px 0px 0px #878e98;
  box-shadow: inset 0px 1px 0px 0px #878e98;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  text-indent: 1rem;
  display: block;
  position: relative;
  font-weight: 600;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  word-wrap: break-word;
}
body .container-backend #content #lateral_menu .menu ul li a {
  background: #fff;
  border-bottom: 1px solid #efeff0;
  width: 100%;
  height: 3rem;
  min-height: 3rem;
  line-height: 3rem;
  text-indent: 2.5rem;
  display: block;
  position: relative;
  font-size: 1rem;
  font-weight: 400;
  color: #878d95;
  word-wrap: break-word;
}
body .container-backend #content #lateral_menu .menu ul li:last-child a {
  border-bottom: 1px solid #33373d;
}
body .container-backend #content #lateral_menu .menu > li > a:hover,
body .container-backend #content #lateral_menu .menu > li > a.active {
  background-color: #CD853F;
  border-bottom: 1px solid #103c56;
  -webkit-box-shadow: inset 0px 1px 0px 0px #6ad2ef;
  box-shadow: inset 0px 1px 0px 0px #6ad2ef;
}
body .container-backend #content #lateral_menu .menu > li > a.active {
  border-bottom: 1px solid #1a638f;
}
body .container-backend #content #lateral_menu .menu > li > a.panel-dash:before {
  content: '\F0E4';
  font-family: 'FontAwesome';
  margin-right: 5px;
}
body .container-backend #content #lateral_menu .menu > li > a.frontend:before {
  content: '\F108';
  font-family: 'FontAwesome';
  margin-right: 5px;
}
body .container-backend #content #lateral_menu .menu > li > a.cottage:before {
  content: '\F015';
  font-family: 'FontAwesome';
  margin-right: 5px;
}
body .container-backend #content #lateral_menu .menu > li > a.promotion:before {
  content: '\F06B';
  font-family: 'FontAwesome';
  margin-right: 5px;
}
body .container-backend #content #lateral_menu .menu > li > a.claims:before {
  content: '\F071';
  font-family: 'FontAwesome';
  margin-right: 5px;
}
body .container-backend #content #lateral_menu .menu > li > a.users:before {
  content: '\F0C0';
  font-family: 'FontAwesome';
  margin-right: 5px;
}
body .container-backend #content #lateral_menu .menu > li > a span {
  font-size: 0.757rem;
  display: inline-block;
  position: absolute;
  right: 1rem;
  top: 50%;
  background: #FFEFD5;
  line-height: 1rem;
  height: auto;
  padding: .4rem .6rem;
  margin: -0.8rem 0 0 0;
  color: #878d95;
  text-indent: 0;
  text-align: center;
  border-radius: .769em;
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.26), 0px 1px 0px 0px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.26), 0px 1px 0px 0px rgba(255, 255, 255, 0.15);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  font-weight: 500;
}
body .container-backend #content #lateral_menu .menu > li > a:hover span,
body .container-backend #content #lateral_menu .menu > li a.active span {
  background: #FFEFD5;
}
body .container-backend #content #lateral_menu .menu ul > li > a span {
  font-size: 0.757em;
  display: inline-block;
  position: absolute;
  right: 1em;
  top: 50%;
  background: #fff;
  border: 1px solid #d0d0d3;
  line-height: 1em;
  height: auto;
  padding: .4em .7em;
  margin: -0.9em 0 0 0;
  color: #878d95;
  text-indent: 0;
  text-align: center;
  border-radius: .769em;
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.01);
}
body .container-backend #content #lateral_menu .menu > li > ul li a:before {
  content: '\25B6';
  font-size: 8px;
  color: #bcbcbf;
  position: absolute;
  width: 1em;
  height: 1em;
  top: 0;
  left: -2.7em;
}
body .container-backend #content #lateral_menu .menu > li > ul li:hover a,
body .container-backend #content #lateral_menu .menu > li > ul li:hover a span,
body .container-backend #content #lateral_menu .menu > li > ul li:hover a:before {
  color: #32373D;
}
body .container-backend #footer #footer_rights {
  background-color: #7a7a7a;
  color: #d4dfc4;
  padding: 15px 0px;
}
