@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@import url(https://fonts.googleapis.com/css?family=Gravitas+One|Pinyon+Script|Satisfy);/******************************************************
* Imports
*****************************/
/******************************************************
* Colores
******************************************************/
/******************************************************
* Clases
*******************************************************/
.hidden {
  display: none;
  visibility: hidden;
}
.menu-fixed {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
}
.cursorPointer {
  cursor: pointer;
}
*:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}
/******************************************************
* Estilos
*****************************/
* {
  font-family: "Raleway", sans-serif;
  line-height: 1.6;
}
body {
  background-color: #ffffff;
}
body .container-frontend #header {
  height: 606.5px;
  min-height: 67%;
  max-height: 67%;
  background-image: url(/images/cabanas1.jpg?cce046055ca09e61318a08b9368fc97c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 55%;
}
body .container-frontend #header div #overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #333333;
  background-image: url(/images/jaguar.jpg?a583257bc6680456672d9b3ea8affb59);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 35%;
}
body .container-frontend #header div #container_logo {
  text-align: center;
  height: inherit;
}
body .container-frontend #header div #container_logo h1 {
  display: inline-block;
  font-family: 'Gravitas One', cursive;
  color: #d4dfc4;
  font-size: 65px;
  font-weight: normal;
  text-align: right;
  text-shadow: 3px 3px 2px #262626;
  margin-top: 5%;
}
body .container-frontend #header div #container_logo h1 small {
  font-family: 'Pinyon Script', cursive;
  text-shadow: 2px 2px 1px #262626;
  color: #d4dfc4;
  font-size: 87%;
}
body .container-frontend #header div #container_logo > img {
  position: relative;
  top: 8rem;
  left: 6%;
}
body .container-frontend .row #arrow_left,
body .container-frontend .row #arrow_right {
  position: relative;
  z-index: 100;
  width: 50%;
  height: 0;
  border-bottom: 41px solid #fff;
  top: -40px;
}
body .container-frontend .row #arrow_left {
  border-right: 55px solid transparent;
}
body .container-frontend .row #arrow_right {
  border-left: 55px solid transparent;
}
body .container-frontend .row div .alert {
  margin-top: 1.5%;
}
body .container-frontend #content .row div.division {
  height: 7px;
  margin: 20px auto;
  margin-bottom: 100px;
  border-top: 1px solid #d4dfc4;
  border-bottom: 1px solid #d4dfc4;
  overflow: visible;
}
body .container-frontend #content .row div.division span:before {
  position: relative;
  font-size: 7rem;
  top: -2.6rem;
  z-index: 1;
  background-color: #ffffff;
}
body .container-frontend #content .row div.handsicon {
  height: 0px;
  margin: 5em auto;
  border-top: 13px solid #333333;
  border-bottom: 13px solid #333333;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
}
body .container-frontend #content .row div.handsicon i:before {
  position: relative;
  font-size: 7rem;
  top: -3.4rem;
  z-index: 1;
  background-color: #ffffff;
}
body .container-frontend #content section#first_section {
  background-image: url(/images/dibujo-tucan.jpg?e20d6be01100e58edd0eab913446f14c);
  background-repeat: no-repeat;
}
body .container-frontend #content section#first_section .description #main_message h2,
body .container-frontend #content section#first_section .description #main_message p {
  text-align: justify;
}
body .container-frontend #content section#first_section .description #main_message p {
  padding-left: 12px;
  border-left: 4px solid #666666;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
body .container-frontend #content section#first_section .description #main_message div .link-button {
  color: #ffffff;
  font-size: 20px;
  font-weight: bolder;
  padding: 15px 19px;
  margin-top: 20px;
  margin-bottom: 40px;
  display: inline-block;
  border: 3px solid #b8b8b8;
  background-color: #262626;
}
body .container-frontend #content section#first_section .description #main_message div .link-button a {
  color: #ffffff;
  text-decoration: none;
}
body .container-frontend #content section#first_section .description #main_message div .link-button:hover {
  color: #000000;
  border: 3px solid #2e2e2e;
  background-color: #f2f2f2;
}
body .container-frontend #content section#first_section .description #main_message div .link-button:hover a {
  color: #000000;
}
body .container-frontend #content section#first_section .description #short_messeges {
  margin-bottom: 30px;
}
body .container-frontend #content section#first_section .description #short_messeges div #first_slogan {
  background-color: #9fd7db;
  border: 3px solid #d4dfc4;
  -webkit-box-shadow: 3px 3px 25px 5px #8c8c8c;
          box-shadow: 3px 3px 25px 5px #8c8c8c;
  min-height: 490px;
}
body .container-frontend #content section#first_section .description #short_messeges div #first_slogan h2,
body .container-frontend #content section#first_section .description #short_messeges div #first_slogan p {
  padding-left: 9px;
  padding-right: 9px;
}
body .container-frontend #content section#first_section .description #short_messeges div #first_slogan h2 {
  text-align: center;
}
body .container-frontend #content section#first_section .description #short_messeges div #first_slogan p {
  text-align: justify;
}
body .container-frontend #content section#first_section .description #short_messeges div div {
  margin-bottom: 5px;
}
body .container-frontend #content section#first_section .description #short_messeges div div #second_slogan,
body .container-frontend #content section#first_section .description #short_messeges div div #third_slogan {
  min-height: 242px;
}
body .container-frontend #content section#first_section .description #short_messeges div div #second_slogan h2,
body .container-frontend #content section#first_section .description #short_messeges div div #third_slogan h2,
body .container-frontend #content section#first_section .description #short_messeges div div #second_slogan p,
body .container-frontend #content section#first_section .description #short_messeges div div #third_slogan p {
  padding: 7px 12px;
  margin: 0;
  color: #000000;
  background-color: rgba(212, 223, 196, 0.15);
  text-shadow: 2px 2px 2px #666666;
}
body .container-frontend #content section#first_section .description #short_messeges div div #second_slogan h2,
body .container-frontend #content section#first_section .description #short_messeges div div #third_slogan h2 {
  text-align: center;
  text-decoration: underline;
}
body .container-frontend #content section#first_section .description #short_messeges div div #second_slogan p,
body .container-frontend #content section#first_section .description #short_messeges div div #third_slogan p {
  font-size: 20px;
  text-align: justify;
}
body .container-frontend #content section#first_section .description #short_messeges div div #second_slogan {
  background-color: #99cbc0;
  background-image: url(/images/cabanas8.jpg?5e668287ac3e39e6518b0429fa83d870);
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #d4dfc4;
  -webkit-box-shadow: 3px 3px 25px 5px #8c8c8c;
          box-shadow: 3px 3px 25px 5px #8c8c8c;
}
body .container-frontend #content section#first_section .description #short_messeges div div #third_slogan {
  background-color: #99cbc0;
  background-image: url(/images/cabanas12.jpg?6baf81e3c3c7e715f2acb393b3b069ff);
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #d4dfc4;
  -webkit-box-shadow: 3px 3px 25px 5px #8c8c8c;
          box-shadow: 3px 3px 25px 5px #8c8c8c;
}
body .container-frontend #content section#first_section .description #short_messages_2 {
  margin-bottom: 30px;
}
body .container-frontend #content section#first_section .description #short_messages_2 div #fourth_slogan,
body .container-frontend #content section#first_section .description #short_messages_2 div #fifth_slogan,
body .container-frontend #content section#first_section .description #short_messages_2 div #sixth_slogan {
  background-color: #e0ba79;
  border: 3px solid #d4dfc4;
  -webkit-box-shadow: 3px 3px 25px 5px #8c8c8c;
          box-shadow: 3px 3px 25px 5px #8c8c8c;
}
body .container-frontend #content section#first_section .description #short_messages_2 div #fourth_slogan h2,
body .container-frontend #content section#first_section .description #short_messages_2 div #fifth_slogan h2,
body .container-frontend #content section#first_section .description #short_messages_2 div #sixth_slogan h2,
body .container-frontend #content section#first_section .description #short_messages_2 div #fourth_slogan p,
body .container-frontend #content section#first_section .description #short_messages_2 div #fifth_slogan p,
body .container-frontend #content section#first_section .description #short_messages_2 div #sixth_slogan p {
  padding-left: 9px;
  padding-right: 9px;
}
body .container-frontend #content section#first_section .description #short_messages_2 div #fourth_slogan h2,
body .container-frontend #content section#first_section .description #short_messages_2 div #fifth_slogan h2,
body .container-frontend #content section#first_section .description #short_messages_2 div #sixth_slogan h2 {
  text-align: center;
}
body .container-frontend #content section#first_section .description #short_messages_2 div #fourth_slogan p,
body .container-frontend #content section#first_section .description #short_messages_2 div #fifth_slogan p,
body .container-frontend #content section#first_section .description #short_messages_2 div #sixth_slogan p {
  text-align: justify;
}
body .container-frontend #content section#first_section .description #short_messages_2 div #fourth_slogan {
  min-height: 300px;
  background-image: url(/images/cabanas7.jpg?7a8e3c1b0af282d550a3f3c0f6ac4e02);
  background-repeat: no-repeat;
  background-size: cover;
}
body .container-frontend #content section#first_section .description #short_messages_2 div #fourth_slogan h2,
body .container-frontend #content section#first_section .description #short_messages_2 div #fourth_slogan p {
  padding: 7px 12px;
  margin: 0;
  color: #ffffff;
  background-color: rgba(212, 223, 196, 0.15);
  text-shadow: 2px 2px 2px #666666;
}
body .container-frontend #content section#first_section .description #short_messages_2 div #fourth_slogan h2 {
  text-decoration: underline;
}
body .container-frontend #content section#first_section .description #short_messages_2 div #fifth_slogan,
body .container-frontend #content section#first_section .description #short_messages_2 div #sixth_slogan {
  margin-top: 28px;
  min-height: 450px;
}
body .container-frontend #content section#testimonies {
  background-color: #9fd7db;
  margin-top: 25px;
}
body .container-frontend #content section#testimonies hr.division:before {
  background-color: #9fd7db;
}
body .container-frontend #content section#testimonies div {
  text-align: left;
}
body .container-frontend #content section#testimonies div #carouselExampleIndicators .carousel-inner .carousel-item {
  height: 305px;
  min-height: 305px;
  padding: 0 12%;
}
body .container-frontend #content section#testimonies div #carouselExampleIndicators .carousel-inner .carousel-item img {
  position: relative;
  display: inline-block;
  width: 18%;
  top: 3.5em;
}
body .container-frontend #content section#testimonies div #carouselExampleIndicators .carousel-inner .carousel-item blockquote {
  position: relative;
  left: 20%;
  top: -45%;
  width: 80%;
  text-align: justify;
}
body .container-frontend #content section#testimonies div #carouselExampleIndicators a.carousel-control {
  background-image: none;
}
body .container-frontend #content section#testimonies div .overlay-testimony .testimony {
  width: auto;
  height: 400px;
  overflow: hidden;
}
body .container-frontend #footer #terms_and_conditions {
  background-color: #333333;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #d4dfc4;
  border-top: 5px solid #d4dfc4;
  border-bottom: 5px solid #d4dfc4;
}
body .container-frontend #footer #terms_and_conditions div ul li a {
  color: #d4dfc4;
}
body .container-frontend #footer #terms_and_conditions div ul li a:hover {
  color: #f99418;
}
body .container-frontend #footer #terms_and_conditions div a {
  display: block;
  color: #d4dfc4;
}
body .container-frontend #footer #terms_and_conditions div a:hover {
  color: #f99418;
}
body .container-frontend #footer #footer_rights {
  background-color: #7a7a7a;
  color: #d4dfc4;
  padding: 15px 0px;
}
