/******************************************************
* Imports
*****************************/
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Gravitas+One|Pinyon+Script|Satisfy');
// @import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Erica+One|Merienda+One|Molle:400i&subset=latin-ext');
// @import url('https://fonts.googleapis.com/css?family=Barrio|Indie+Flower');

/******************************************************
* Colores
******************************************************/
@blanco: #ffffff;
@negro: #000000;
@naranja: #fd7500;
@naranja-amarronado: #f99418;
@crema-pastel: #f0e7b2;
@granito-pastel: #d4dfc4;
@celeste-suave-pastel: #9fd7db;

/******************************************************
* Clases
*******************************************************/
.label-email {
  background-color: lighten(#7a43b6, 15%);
  text-shadow: 0px 0px 2px @negro;
}

.menu-fixed {
  position:fixed;
  z-index:1000;
  top:0;
  width:100%;
  box-shadow:0px 4px 3px rgba(0,0,0,.5);
}
/******************************************************
* Estilos
*****************************/
* {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  min-font-size: 16px;
  line-height: 1.6;
}
body {
  background-color: #ffffff;

  .container-frontend {

    #header {
      height: 606.5px;
      min-height: 67%;
      max-height: 67%;
      background-image: url('../../../../public/images/frontend/cabanas1.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center 55%;

      #overlay {
        position: absolute;
        width: 100%;
        height: inherit;
        opacity: 0;
        background-color: #333333;
        background-image: url('../../../../public/images/frontend/jaguar.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left 35%;
      }
      
      #arrow_left, #arrow_right {
        z-index: 100;
        width: 50%;
        height: 0;
        border-bottom: 38px solid #fff;
        top: -37px;
      }
      #arrow_left {
        border-right: 55px solid transparent;
      }
      #arrow_right {
        border-left: 55px solid transparent;
      }

      nav.navbar {
        background-color: @naranja-amarronado;
        margin-bottom: 0px;

        .container {
          .navbar-header {
            a {
              color: lighten(@negro, 15%);
              padding: 0;

              span#app_name {
                position: relative;
                top: -25%;
              }
            }
            a:before {
              content: url('../../../../public/images/logos/logo-cabanas-wanda-45x44.png');
              width: 50%;
              height: auto;
              margin-right: 5px;
            }
          }
          .navbar-collapse {
            ul.navbar-nav {
              margin-left: 8px;
              li.dropdown {
                height: 100%;
              }
              li.open {
                a, ul {
                  background-color: @naranja;
                }
                ul {
                  li {
                    a:hover {
                      background-color: @naranja-amarronado;
                    }
                  }
                }
              }
              li {
                a:hover {
                  background-color: @naranja;
                }
              }
            }
            ul {
              li {
                a {
                  color: lighten(@negro, 15%);
                }
              }
            }
            ul.navbar-right {
              li {
                a.img-user-profile{
                  padding: 5px;
                  color: lighten(@negro, 15%);

                  img {
                    display: inline-block;
                    width: 40px;
                    height: auto;
                  }
                }
              }
            }
          }
        }
      }
      div.col-md-8 {
        text-align: center;
        height: inherit;

        h1 {
          display: inline-block;
          font-family: 'Gravitas One', cursive;
          color: @granito-pastel;
          font-size: 65px;
          font-weight: normal;
          text-align: right;
          text-shadow: 3px 3px 2px #262626;
          margin-top: 5%;

          small {
            font-family: 'Pinyon Script', cursive;
            text-shadow: 2px 2px 1px #262626;
            color: @granito-pastel;
            font-size: 87%;
          }
        }
      }
      div.col-md-8:after {
        content: url('../../../../public/images/logos/logo-cabanas-wanda-390x380.png');
        position: relative;
        top: 4%;
        left: 6%;
      }
    }
    .row {
      div {
        .alert {
          margin-top: 1.5%;
        }
      }
    }
    #content {
      background-image: url('../../../../public/images/frontend/dibujo-tucan.jpg');
      background-repeat: no-repeat;
      background-position: 5% 15%;
      height: 980px;
      min-height: 980px;
      max-height: 100%;

      hr.division {
        width: 70%;
        height: 7px;
        margin: 20px auto;
        margin-bottom: 100px;
        border-top: 1px solid @granito-pastel;
        border-bottom: 1px solid @granito-pastel;
        overflow: visible;
      }
      hr.division:before {
        content: "\f313";
        font-family: 'Dashicons';
        position: relative;
        font-size: 7em;
        left: 45%;
        top: -0.6em;
        z-index: 1;
        background-color: @blanco;
      }
      hr.handicon {
        width: 50%;
        height: 0px;
        margin: 5em auto;
        border-top: 13px solid lighten(@negro, 20%);
        border-bottom: 13px solid lighten(@negro, 20%);
        border-right: 20px solid transparent;
        border-left: 20px solid transparent;
      }
      hr.handicon:before {
        content: "\f2b5";
        font-family: 'FontAwesome';
        position: relative;
        font-size: 7em;
        left: 40%;
        top: -0.78em;
        z-index: 1;
        background-color: @blanco;
      }
      section {
        width: 100%;

        .description {
          #main_message {
            h2, p {
              text-align: justify;
            }
            p {
              padding-left: 12px;
              border-left: 4px solid lighten(@negro, 40%);
              border-top: 4px solid transparent;
              border-bottom: 4px solid transparent;
            }
            div {
              .link-button {
                color: @blanco;
                font-size: 20px;
                font-weight: bolder;
                padding: 15px 19px;
                margin-top: 20px;
                margin-bottom: 40px;
                display: inline-block;
                border: 3px solid darken(@blanco, 28%);
                background-color: lighten(@negro, 15%);

                a {
                  color: @blanco;
                  text-decoration: none;
                }
              }
              .link-button:hover {
                color: @negro;
                border: 3px solid lighten(@negro, 18%);
                background-color: darken(@blanco, 5%);

                a {
                  color: @negro;
                }
              }
            }
          }
          #short_messeges {
            margin-bottom: 30px;

            div {
              #first_slogan {
                background-color: @celeste-suave-pastel;
                border: 3px solid @granito-pastel;
                box-shadow: 3px 3px 25px 5px lighten(@negro, 55%);
                min-height: 490px;

                h2, p {
                  padding-left: 9px;
                  padding-right: 9px;
                }
                h2 {
                  text-align: center;
                }
                p {
                  text-align: justify;
                }
              }
            }
            div {
              div {
                margin-bottom: 5px;

                #second_slogan, #third_slogan {
                  min-height: 242px;

                  h2, p {
                    padding: 7px 12px;
                    margin: 0;
                    color: @negro;
                    background-color: fadeout(@granito-pastel, 85%);
                    text-shadow: 2px 2px 2px darken(@blanco, 60%);
                  }
                  h2 {
                    text-align: center;
                    text-decoration: underline;
                  }
                  p {
                    font-size: 20px;
                    text-align: justify;
                  }
                }

                #second_slogan {
                  background-color: mix(@celeste-suave-pastel, darken(@granito-pastel, 35%), 80%);
                  background-image: url('../../../../public/images/cabanias/cabanas8.jpg');
                  background-repeat: no-repeat;
                  background-size: cover;
                  border: 3px solid @granito-pastel;
                  box-shadow: 3px 3px 25px 5px lighten(@negro, 55%);
                }
                #third_slogan {
                  background-color: mix(@celeste-suave-pastel, darken(@granito-pastel, 35%), 80%);
                  background-image: url('../../../../public/images/cabanias/cabanas12.jpg');
                  background-repeat: no-repeat;
                  background-size: cover;
                  border: 3px solid @granito-pastel;
                  box-shadow: 3px 3px 25px 5px lighten(@negro, 55%);
                }
              }
            }
          }
          #short_messages_2 {
            margin-bottom: 30px;

            div {
              #fourth_slogan, #fifth_slogan, #sixth_slogan {
                background-color: lighten(mix(@celeste-suave-pastel, @naranja-amarronado, 35%), 7%);
                border: 3px solid @granito-pastel;
                box-shadow: 3px 3px 25px 5px lighten(@negro, 55%);

                h2, p {
                  padding-left: 9px;
                  padding-right: 9px;
                }
                h2 {
                  text-align: center;
                }
                p {
                  text-align: justify;
                }
              }
              #fourth_slogan {
                min-height: 300px;
                background-image: url('../../../../public/images/cabanias/cabanas7.jpg');
                background-repeat: no-repeat;
                background-size: cover;

                h2, p {
                  padding: 7px 12px;
                  margin: 0;
                  color: @blanco;
                  background-color: fadeout(@granito-pastel, 85%);
                  text-shadow: 2px 2px 2px darken(@blanco, 60%);
                }

                h2 {
                  text-decoration: underline;
                }
              }
              #fifth_slogan, #sixth_slogan {
                margin-top: 28px;
                min-height: 450px;
              }
            }
          }
        }
      }
      #testimonies {
        background-color: @celeste-suave-pastel;
        margin: 0;
        margin-top: 25px;

        hr.division:before {
          background-color: @celeste-suave-pastel;
        }

        div {
          text-align: left;

          #carousel-example-generic {
            .carousel-inner {
              .item {
                height: 305px;
                min-height: 305px;
                padding: 0 12%;

                img {
                  position: relative;
                  display: inline-block;
                  width: 18%;
                  top: 3.5em;
                }
                blockquote {
                  position: relative;
                  left: 20%;
                  top: -45%;
                  width: 80%;
                  text-align: justify;
                }
              }
            }
            a.carousel-control {
              background-image: none;
            }
          }

          .overlay-testimony {
            .testimony {
              width: auto;
              height: 400px;
              overflow: hidden;

              li {

              }
            }
          }
        }
      }
    }
    #terms_and_conditions {
      margin: 0;
      background-color: lighten(@negro, 20%);
      padding-top: 30px;
      padding-bottom: 30px;
      color: @granito-pastel;
      border-top: 5px solid @granito-pastel;
      border-bottom: 5px solid @granito-pastel;

      div {
        ul {
          li {
            a {
              color: @granito-pastel;
            }
            a:hover {
              color: @naranja-amarronado;
            }
          }
        }
        a {
          display: block;
          color: @granito-pastel;
        }
        a:hover {
          color: @naranja-amarronado;
        }
      }
    }
    #footer {
      #footer_rights {
        background-color: lighten(@negro, 48%);
        color: @granito-pastel;
        padding: 15px 0px;
      }
    }
  }
}