/******************************************************
* Imports
*****************************/
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Gravitas+One|Pinyon+Script|Satisfy');
/******************************************************
* Colores
*****************************/
/******************************************************
* Colores
*****************************/
.label-email {
  background-color: #a178cd;
  text-shadow: 0px 0px 2px #000000;
}
/******************************************************
* Estilos
*****************************/
body {
  background-color: #ffffff;
}
body .container-fluid {
  height: 980px;
  min-height: 980px;
}
body .container-fluid #header {
  min-height: 63%;
  max-height: 63%;
  background-image: url('/images/frontend/cabanas1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 55%;
}
body .container-fluid #header #overlay {
  position: absolute;
  width: 100%;
  min-height: 58.6%;
  max-height: 58.6%;
  opacity: 0;
  background-color: #333333;
  background-image: url('/images/frontend/jaguar.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 35%;
}
body .container-fluid #header nav.navbar {
  background-color: #f99418;
  margin-bottom: 0px;
}
body .container-fluid #header nav.navbar .container .navbar-header a {
  color: #262626;
  padding: 0;
}
body .container-fluid #header nav.navbar .container .navbar-header a span#app_name {
  position: relative;
  top: -25%;
}
body .container-fluid #header nav.navbar .container .navbar-header a:before {
  content: url('/images/logos/logo-cabanas-wanda-45x44.png');
  width: 50%;
  height: auto;
  margin-right: 5px;
}
body .container-fluid #header nav.navbar .container .navbar-collapse ul.navbar-nav {
  margin-left: 8px;
}
body .container-fluid #header nav.navbar .container .navbar-collapse ul.navbar-nav li.dropdown {
  height: 100%;
}
body .container-fluid #header nav.navbar .container .navbar-collapse ul.navbar-nav li.open a,
body .container-fluid #header nav.navbar .container .navbar-collapse ul.navbar-nav li.open ul {
  background-color: #fd7500;
}
body .container-fluid #header nav.navbar .container .navbar-collapse ul.navbar-nav li.open ul li a:hover {
  background-color: #f99418;
}
body .container-fluid #header nav.navbar .container .navbar-collapse ul.navbar-nav li a:hover {
  background-color: #fd7500;
}
body .container-fluid #header nav.navbar .container .navbar-collapse ul li a {
  color: #262626;
}
body .container-fluid #header nav.navbar .container .navbar-collapse ul.navbar-right li a.img-user-profile {
  padding: 5px;
  color: #262626;
}
body .container-fluid #header nav.navbar .container .navbar-collapse ul.navbar-right li a.img-user-profile img {
  display: inline-block;
  width: 40px;
  height: auto;
}
body .container-fluid #header div.col-md-8 {
  text-align: center;
  height: 309px;
  min-height: 309%;
}
body .container-fluid #header div.col-md-8 h1 {
  display: inline-block;
  font-family: 'Gravitas One', cursive;
  color: #d4dfc4;
  font-size: 65px;
  font-weight: normal;
  text-align: right;
  text-shadow: 3px 3px 2px #262626;
  margin-top: 5%;
}
body .container-fluid #header div.col-md-8 h1 small {
  font-family: 'Pinyon Script', cursive;
  text-shadow: 2px 2px 1px #262626;
  color: #d4dfc4;
  font-size: 87%;
}
body .container-fluid #header div.col-md-8:after {
  content: url("/images/logos/logo-cabanas-wanda-390x380.png");
  position: relative;
  top: 10%;
  left: 6%;
}
body .container-fluid .row div .alert {
  margin-top: 1.5%;
}
body .container-fluid #content {
  background-image: url('/images/frontend/dibujo-tucan.jpg');
  background-repeat: no-repeat;
  background-position: 5% 15%;
  min-height: 50%;
}
body .container-fluid #content hr.division {
  width: 70%;
  height: 7px;
  margin: 70px auto;
  border-top: 1px solid #d4dfc4;
  border-bottom: 1px solid #d4dfc4;
}
body .container-fluid #content hr.division:before {
  content: "\f313";
  font-family: 'Dashicons';
  position: relative;
  font-size: 8em;
  left: 45%;
  top: -0.6em;
  z-index: 1;
  background-color: #ffffff;
}
body .container-fluid #content .container {
  position: relative;
  top: -45px;
}
body .container-fluid #content .container .panel {
  -webkit-box-shadow: 2px 2px 5px #333333;
  -moz-box-shadow: 2px 2px 5px #333333;
  box-shadow: 2px 2px 5px #333333;
}
body .container-fluid #content section {
  width: 100%;
}
body .container-fluid #content section .description {
  height: 25em;
  min-height: 25em;
}
body .container-fluid #content section .description hr {
  position: relative;
  width: 50%;
  top: 26%;
  height: 7px;
  border-top: 1px dotted #d4dfc4;
  border-bottom: 1px dotted #d4dfc4;
}
body .container-fluid #content section .description img {
  position: relative;
  width: 330px;
  top: -14%;
  height: auto;
  left: 37%;
}
body .container-fluid #content section .description p {
  position: relative;
  top: -10%;
  text-align: center;
  margin: 0;
  padding: 0% 18%;
}
body .container-fluid #content section .description-paralel img {
  display: inline-block;
  position: relative;
  left: 25%;
  top: -12%;
  width: 50%;
  height: auto;
  background-color: #ffffff;
  margin-bottom: 12px;
}
body .container-fluid #content section .description-paralel p {
  text-align: justify;
  margin: 0;
  padding: 0% 2%;
}
body .container-fluid #content #testimonies {
  background-color: #9fd7db;
  margin: 0;
  margin-top: 25px;
}
body .container-fluid #content #testimonies hr.division:before {
  background-color: #9fd7db;
}
body .container-fluid #content #testimonies div {
  text-align: left;
}
body .container-fluid #content #testimonies div #carousel-example-generic .carousel-inner .item {
  height: 305px;
  min-height: 305px;
  padding: 0 12%;
}
body .container-fluid #content #testimonies div #carousel-example-generic .carousel-inner .item img {
  position: relative;
  display: inline-block;
  width: 18%;
  top: 3.5em;
}
body .container-fluid #content #testimonies div #carousel-example-generic .carousel-inner .item blockquote {
  position: relative;
  left: 20%;
  top: -45%;
  width: 80%;
  text-align: justify;
}
body .container-fluid #content #testimonies div #carousel-example-generic a.carousel-control {
  background-image: none;
}
body .container-fluid #content #testimonies div .overlay-testimony .testimony {
  width: auto;
  height: 400px;
  overflow: hidden;
}
body .container-fluid #footer #footer_rights {
  background-color: #7a7a7a;
  color: #d4dfc4;
  padding: 15px 0px;
}
